@import '~antd/dist/antd.css';

* {
    box-sizing: border-box;
}

.body {
    background-image: url(../../img/bg_img.jpg);
    background-repeat: no-repeat;
}

h4 {
    /* margin-top: 80px; */
    padding: 30px;
    text-align: center;
    font-size: 26px;
}

.form {
    margin-top: 40px;
}
 
.form-in {
    justify-content: center;
    align-items: middle;
}


.ant-tabs-nav-wrap {
    justify-content: center;
}

.form-card {
    border: 1px solid #eee;
}

.ant-card-head {
    border-bottom: none;
}

.ant-card-body {
    margin: 0 50px 0 50px;
}

.ant-tabs-top{
    /* position: absolute; */
    border-bottom: none;
    /* margin-left: 10px; */
}