.content {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 6rem;
    background-color: #f9f9f9;
    /* display: flex; */
    padding-left: 200px;
    padding-right: 200px;
    animation: fadeIn .5s ease;
}

.profile-holder {
    border: 1px solid #e1e1e1;
    background-color: white;
    padding: 20px;
    width: auto;
    height: auto;
}

.user-tab {
    width: 700px;
    height: 100%;
    margin: 3rem auto 0;
    background: #fff;
    border: 1px solid #e1e1e1;
}

.user-tab-nav {
    background: #f2f2f2;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 3.2rem;
}

.user-tab-content {
    padding: 1.6rem;
    height: 100%;
}

.user-profile-name {
    text-transform: capitalize;
    color: #1a1a1a;
    font-size: 30px;
    margin-block-start: 1.6em;
    margin-block-end: 1.4em;
}

.user-profile-details > span {
    color: #9a9898;
    font-size: 0.9rem;
    position: relative;
}

.user-profile-details > h5 {
    margin-block-start: 1em;
    margin-block-end: 1.9em;
    color: #1a1a1a;
    font-size: 1em;
}

.complete-button {
    padding: 0.5rem 0.8rem;
}

.back-button {
    padding: 0.5rem 0.8rem;
}


.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.edit > .checkout-button {
    width: 150px;
}

.ant-tabs-top > .ant-tabs-nav::before {
    border: none;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
    border: none;
    background-color: white;
}

.ant-pagination > li {
    padding: 0;
}

.profile-holder > .checkout-shipping-action {
    padding: 0;
    padding-top: 20px;
}