* {
    font-weight: 600;
    box-sizing: border-box;
}

.cart-icon {
    float: right;
    position: relative;
    right: 120px;
}

.cart-icon:hover {
    cursor: pointer;
    border-bottom: 2px solid #fb2c2c;
    transition: color 0.3s;
}

.current {
    color: white;
}

@media (max-width: 772px) {

.cart-icon {
    right: 10px;
}


}