.newstitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

article {
    display: inline-block;
}

.news {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.news-item {
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #eee;
}

.news-item > p.article-thumbnail {
    width: 30%;
    float: left; 
    margin-right: 20px;
    overflow: hidden;
    margin-bottom: 0;
    position: relative;
    vertical-align: baseline;
    background: transparent;
}

.news-time {
    padding-right: 15px;
}

.article-title {
    font-style: bold;
    font-size: 1.2rem;
    transition: 0.5s;
}

.article-title:hover{
    cursor: pointer;
    color: #fb2c2c;
    transition: 0.5s;
}

.news-time {
    color: #6a6a6a;
}

.news-category {
    color: #fb2c2c;
    font-size: 1rem;
}

.article-summary {
    color: #6a6a6a;
}

.img-article {
    width: 100%;
    height: 100%;
}

.img-article:hover {
    cursor: pointer;
}

.img-container {
    /* height: 100%; */
    overflow: hidden;

}

.img-hover img {
    transform-origin: 65% 75%;
    transition: transform 2s, filter 1s ease-in-out;
    filter: brightness(150%)
}

.img-container:hover img{
    filter: brightness(150%);
    transform: scale(1.5)
}

@media only screen and (max-width: 600px) {
    .news-item > p.article-thumbnail {
        width: 45%;
    }

    .news-item > p.article-thumbnail {
        display: flex;
        width: 100%;
        margin-bottom: 20px;
    }

    .newstitle {
        font-size: 28px;
    }

    header > p.article-title {
        margin-bottom: 10px;
    }

    header > p.article-meta {
        margin-bottom: 12px;
    }

  }

.news-container {
    width: 100%;
}
.news-banner {
    height: 600px;
}

.img-banner {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.news-banner {
    overflow: hidden;
}

.news-content {
    position: relative;
    margin: 0 auto 90px auto;
    max-width: 900px;
    padding: 40px 50px 0 50px;
    background: white;
    margin-top: -100px;
}

.content-header {
    margin-bottom: 45px;
}

.header-date {
    margin-bottom: 10px;
}

.content-news > .content-header > h1 {
    font-size: 2rem;
    font-weight: 800;
}

.content-body > h4 {
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.content-body > p {
    margin-bottom: 30px;
}

.content-body > p > img {
    display: block;
    margin: 0 auto;
    width: 50%;
}   

.content-footer {
    margin-top: 60px;
}

.content-footer > span {
    color: #6a6a6a;
    font-size: 0.8rem;
}

@media only screen and (max-width: 1060px) {
  .news-banner {
      height: 450px;
    }
}

@media only screen and (max-width: 900px) {
    .news-banner {
        height: 450px;
    }


    .news-content {
        margin-top: 0px;
    }

    .img-banner > img {
        width: 100%;
        max-height: 400px;
    }

    .content-body > p > img {
        width: 100%;
    }
  }

@media only screen and (max-width: 800px) {
    .news-banner {
        height: 300px;
    }
}
@media only screen and (max-width: 414px) {
    .news-banner {
        height: 210px !important;
        background-image: none;
    }
}