/* Searchbar */
.searchbar-icon {
    position: absolute;
    left: 1rem;
    display: flex;
    font-size: 20px;
    padding-left: 12px;
    color: #a9a9a9;
}

.searchbar {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    /* right: 100px; */
    padding: 17px;
    /* padding-top: 12px; */
    /* margin-left: 60px; */
}

.search-input {
    display: flex;
    float: right;
    width: 120px;
    padding-left: 44px !important;
    height: 40px;
    border: 1px solid #a9a9a9;
}

.searchbar-input {
    width: 100%;
    background: rgb(255, 255, 255)
}

::placeholder {
    color: #a9a9a9;
}