.content3 {
    width: 100%;
    position: relative;
    background-color: #f9f9f9;
    padding-left: 100px;
    padding-right: 100px;
    animation: fadeIn .5s ease;
}

.content4 {
    width: 100%;
    position: relative;
    background-color: #f9f9f9;
    padding-left: 100px;
    padding-right: 100px;
    animation: fadeIn .5s ease;
}

.profile-holder2 {
    border: 1px solid #e1e1e1;
    background-color: white;
    padding: 20px;
    width: auto;
}


