
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif !important;
  /* font-weight: 200px; */
}

/* Navbar */

.navbar {
  padding: 0;
  padding-bottom: 1px;
  border-bottom: solid 1px #e8e8e8;
  background-color: white;
  /* box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.12),
    0 6px 16px -11px rgba(0, 0, 0, 0.08); */
  /* position: sticky; */
  top: 0;
  /* margin-bottom: 20px; */
  z-index: 99990;
  display: flex;
  flex-wrap: wrap;
}

.nav-header {
  background-color: white;
  border-bottom: 0;
  padding: 0 4px 0 24px;
  width: 100%;
}

.logo {
  width: 100px;
  float: left;
}

.logo a {
  display: inline-block;
  font-size: 20px;
  text-transform: capitalize;
}

.nav-logo {
  width: 145px;
}

.navbar-menu {
  width: calc(100% - 160px);
  float: right;
}
.navbar-menu .ant-layout-header {
  padding: 0 20px;
}

.navbar-menu .ant-menu-horizontal {
  border-bottom: 0;
}

.navbar-menu .ant-menu-item {
  padding-bottom: 0px;
}

.navbar-menu .leftMenu {
  float: left;

}


/* .ant-menu-horizontal > .ant-menu-item a {
  color: #6f6f6f;
} */

.navbar-menu .rightMenu {
  float: right;
}

.menuButton {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 14px;
  display: none;
  background: none;
  margin-right: 10px;
}

.ant-drawer-body {
  padding: 0;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

.username {
  display: none;
  margin-left: 8px;
}

.ant-drawer-close:focus {
  outline: none
}

.anticon {
  position: relative;
  align-items: center;
  justify-content: center;
}

.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #fb2c2c !important;
}

.ant-menu-horizontal > .ant-menu-item a:hover {
color: #fb2c2c !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
  color: #fb2c2c;
  border-bottom: 2px solid #fb2c2c;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover {
  color: #fb2c2c;
  border-bottom: 2px solid #fb2c2c;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover {
  color: #fb2c2c;
  border-bottom: 2px solid #fb2c2c;
}

.ant-menu-item:hover {
  color: #fb2c2c;
}

.ant-menu-item a:hover {
  color: #fb2c2c;
}

@media (max-width: 772px) {
  .menuButton {
    display: block;
    margin-right: 10px;
    width: 100px !important;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .logo a {
    margin-left: -10px;
  }

  .ant-drawer-title > .brand-font {
    margin-bottom: 0;
  }

.ant-menu-horizontal > .ant-menu-item-selected a {
    color: #fb2c2c !important;
}

.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #fb2c2c !important;
}

  .username {
    display: inline-block;
  }

}
.ant-drawer-title {
  margin-right: 20px;
}

/* Navbar End */

/* Admin */
.search-admin {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 40px;
}

textarea {
  /* display: none; */
  /* display: contents; */
  visibility: visible !important;

}

/* .ant-col-offset-2 {
  margin: 0 !important;
} */

.recharts-legend-wrapper {
  position: absolute;
  width: 690px;
  height: auto;
  left: 80px;
  bottom: -25px !important;
  float: right;
  padding-left: 47px;
  display: flex;
}

.chart {
  padding-top: 40px;
/*   width: 100%;
  padding-left: 20px;
  padding-right: 20px; */
}


@media only screen and (max-width: 414px) {
  .rechets-wrapper{
    width: 500px;
  }

  .row-chart {
    margin-left: 250px;
  }
  }
